@charset 'UTF-8';
body {
}
.wrap {
  margin: 100px auto;
  border: 10px solid black;
  width: 300px;
  height: 600px;
  /* background-color: black; */
}

.wrap > .box1 {
  width: 300px;
  height: 300px;
  background-color: greenyellow;
}

.wrap > .box2 {
  width: 300px;
  height: 300px;
  background-color: pink;
}