* {
  margin: 0px;
  padding: 0px;
  /* 디폴트로 이렇게 사용한다 */
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;
  padding: 70px;
  background-color: #ddd;
}

main section {
  width: 100%;
  height: 100%;
  padding: 70px;
  background-color: #bbb;
}

main section article {
  width: 100%;
  height: 100%;
  padding: 70px;
  background-color: #999;
}

main section article nav {
  width: 100%;
  height: 100%;
  padding: 70px;
  background-color: #777;
}

main section article nav div {
  width: 100%;
  height: 100%;
  padding: 70px;
  background-color: #555;
}