.container {
  width: 900px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
}

.list {
  width: 900px;
  height: 300px;
  /* float: left; */
}

.cat-img {
  width: 20%;
  height: 200px;
  float: left;
  display: block;
  border-radius: 70%;
}

.content {
  width: 80%;
  height: 300px;
  float: left;
}