
.header {
  display: flex;
  height: 4rem;
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.input {
  flex-basis: 100%;
  font-size: 1.2rem;
  outline: 0;
}

.container {
  /* width: 50%; */
  width: 100%;
  padding: 0.2em;
}

.videos{
  /* display: flex; */
  /* flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* 공간을 넓힌다 */
  gap: 14px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding-left: 0px;
}

.video {
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid lightgrey;
  /* 마우스를 위에 가져가면 손모양으로 바뀐다 */
  cursor: pointer;
  box-shadow: 3px 3px 5px 0px rgba(191, 191, 191, 0.5);
  flex-grow: 1;
}

.video:hover {
  /* 마우스를 가져갔을 때 약간 오버해서 보여진다. */
  transform: scale(1.02);
}

.thumbnail{
  width: 40%;
  height: 100%;
  /* margin: 15px; */
}

.title,
.channel {
  margin: 10px;
  font-size: 0.8rem;
}

.channel {
  font-size: 0.6rem;
}