@charset 'UTF-8';

.wrap {
  width: 300px;
  height: 600px;
  border: 10px solid black;
  margin: 100px auto;
}

/* 
  <position>
  전체 레이아웃에는 영향을 미치지 않으면서
  자기 자신만 이동하거나 변화를 주고 싶을 때 사용
*/

.wrap > .box1 {
  width: 300px;
  height: 300px;
  background-color: cyan;
  /* margin-top: -50px; */
  /* 이걸 했을 때 밑에 핑크도 같이 올라오게 된다. 핑크는 가만히 있었으면 좋겠는데.. */
  position: relative;
  top: -50px;
  left: 50px;
}

.wrap > .box2 {
  width: 300px;
  height: 300px;
  background-color: pink;
  
}